@media (max-width: 576px) { 
    .daily .daily_nr .card .card-body p{
        font-size: 20px;
    }
    .daily .container{
        width: 92%;
    }
    .daily .daily_nr .card img{
        width: 68px;
    }
    #prompt{
        width: 80%;
    }
}
@media (min-width: 576px) and (max-width: 768px) { 
    .daily .container{
        width: 85%;
    }
    .daily .daily_nr .card img{
        width: 100px;
    }
    #prompt{
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 992px) { 
    .daily .container{
        width: 70%;
    }
    .daily .daily_nr .card img{
        width: 128px;
    }
    #prompt{
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .daily .container{
        width: 70%;
    }
    .daily .daily_nr .card img{
        width: 150px;
    }
    #prompt{
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) { 
    .daily .container{
        width: 70%;
    }
    .daily .daily_nr .card img{
        width: 180px;
    }
    #prompt{
        width: 40%;
    }
}

@media (min-width: 1400px) { 
    .daily .container{
        width: 70%;
    }
    .daily .daily_nr .card img{
        width: 200px;
    }
    #prompt{
        width: 30%;
    }
}

.daily .daily_nr .card{
    margin-top: 18px;
}
.daily .daily_nr .card img{
    padding: 3px 0px;
}
#prompt{
    z-index: 999;
    top: 28%!important;
}