@media (max-width: 576px) { 
    .node .container {
        width: 95%;
    }
    .node_nr .card .card-text{
        font-size: 18px;
    }
    #prompt{
        width: 80%;
    }
}
@media (min-width: 576px) and (max-width: 768px) { 
    .node .container {
        width: 100%;
    }
    .node_nr .card .card-text{
        font-size: 16px;
    }
    #prompt{
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 992px) { 
    .node .container {
        width: 100%;
    }
    .node_nr .card .card-text{
        font-size: 15px;
    }
    #prompt{
        width: 60%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) { 
    .node_nr .card .card-text{
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
    #prompt{
        width: 40%;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) { 
    .container {
        width: 90%;
    }
    #prompt{
        width: 40%;
    }
}

@media (min-width: 1400px) { 
    .node_nr .card .card-text{
        font-size: 18px;
    }
    .container {
        width: 90%;
    }
    #prompt{
        width: 30%;
    }
}
.node .labels{
    margin: 20px;
}
.node .labels a{
    margin: 5px;
}

.node_nr .card{
    border-radius: 15px;
}
.node_nr .card img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 200px;
    object-fit: cover;
}
.node_nr .row .col{
    padding: 5px;
}
.node .container .paging .page-link{
    color: black;
}
#prompt{
    z-index: 999;
    top: 28%!important;
}