@media (max-width: 576px) { 
    .r_nr .container{
        width: 85%;
    }
    /* 内容字体大小 */
    .r_nr .card .card-body .card-title{
        font-size: 20px;
    }
    .r_nr .card .card-body .card-text{
        font-size: 14px;
    }
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 4%;
    }
    #prompt{
        width: 80%;
    }
}
@media (min-width: 576px) and (max-width: 768px) { 
    /* 内容字体大小 */
    .r_nr .card .card-body .card-title{
        font-size: 16px;
    }
    .r_nr .card .card-body .card-text{
        font-size: 12px;
    }
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 4%;
    }
    .r_nr .container {
        width: 70%;
    }
    #prompt{
        width: 60%;
    }
}
@media (min-width: 768px) and (max-width: 992px) { 
    /* 内容字体大小 */
    .r_nr .card .card-body .card-title{
        font-size: 18px;
    }
    .r_nr .card .card-body .card-text{
        font-size: 14px;
    }
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 4%;
    }
    .r_nr .container {
        width: 70%;
    }
    #prompt{
        width: 50%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) { 
    /* 内容字体大小 */
    .r_nr .card .card-body .card-title{
        font-size: 20px;
    }
    .r_nr .card .card-body .card-text{
        font-size: 15px;
    }
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 2%;
    }
    .r_nr .container {
        width: 80%;
    }
    #prompt{
        width: 40%;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) { 
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 2%;
    }
    .r_nr .container {
        width: 80%;
    }
    #prompt{
        width: 40%;
    }
}

@media (min-width: 1400px) { 
    /* 设置语言栏未知 */
    .r_nr .card .card-body span {
        bottom: 5%;
    }
    .r_nr .container {
        width: 80%;
    }
    #prompt{
        width: 30%;
    }
}
.r_nr .container {
    border-radius: 10px;
}

.r_nr .container .row .col {
    padding: 5px;
}

/* 设置卡片圆角 */
.r_nr .card {
    border-radius: 10px;
}
.r_nr .card:hover{
    box-shadow: 1px 1px 5px #888888;
}
.r_nr .card a{
    color: #212529;
    text-decoration: none;
}
/* 设置图片样式 */
.r_nr .card img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 150px;
    background-position: 0px 0px;
    object-fit: cover;
}

/* 设置文字卡片高度 */
.r_nr .card .card-body {
    height: 150px;
}

/* 设置语言栏位置 */
.r_nr .card .card-body span {

}

.r_nr .paging .page-link {
    color: black;
}

.r_nr .paging .page-item:active {
    color: red;
    box-shadow: 0;
}
#prompt{
    z-index: 999;
    top: 28%!important;
}