<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <script src="/js/tool/ImportLink.js"></script>
    <link rel="stylesheet" href="/css/view/daily.css">
    <script src="/js/view/daily.js"></script>
    <title>日常|HHHSL</title>
</head>

<body>
    <script src="/js/tool/nav.js"></script>
    <div class="daily">
        <div class="container">
            <div class="daily_nr">

                <!-- <div class="card shadow">
                    <div class="card-header">
                        06-07
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <div class="picture">
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                                <a href=""><img src="img/hhhsl.jpg" alt="..."></a>
                            </div>
                        </blockquote>
                    </div>
                </div> -->
            </div>
        </div>       
    </div>
    <script src="/js/tool/footr.js"></script>
</body>

</html>