<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script src="/js/tool/ImportLink.js"></script>
    <link rel="stylesheet" href="/css/view/note.css">
    <script src="/js/view/note.js"></script>
    <title>笔记|HHHSL</title>
</head>

<body>
    <script src="/js/tool/nav.js"></script>
    <div class="node">
        <div class="container text-center">
            <nav class="labels">
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Java</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Sql</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Javascript</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Vue</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Git</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Linux</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Nginx</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">Docker</span></a>
                <a href="baidu.com"><span class="badge bg-primary rounded-pill">...</span></a>
            </nav>
            <div class="node_nr container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                    <!-- <div class="col">
                        <div class="card shadow">
                            <img src="img/hhhsl.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <nav aria-label="Page navigation example" class="paging mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <script src="/js/tool/footr.js"></script>
</body>

</html>