<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <script src="/js/tool/ImportLink.js"></script>
    <script src="/js/view/recommend.js"></script>
    <link rel="stylesheet" href="/css/view/recommend.css">
    <title>推荐|HHHSL</title>
</head>

<body>
    <script src="/js/tool/nav.js"></script>

    <div class="r_nr">
        <div class="container shadow mt-4">
            <div class="row p-2 row-cols-1 row-cols-sm-2 row-cols-lg-3">
                <!-- <div class="col">
                    <div class="card">
                        <a href="#">
                            <img src="img/hhhsl.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting</p>
                                <span class="badge bg-secondary">语言:java</span>
                            </div>
                        </a>       
                    </div>ß
                </div> -->
                <div class="col animate__animated animate__flipInY">
                    <div class="card"><a href="https://blog.csdn.net/weixin_43979260/article/details/114012818"><img
                                src="http://hhhsl.oss-cn-beijing.aliyuncs.com/recommend/d988182c-9b3b-4659-a3cd-27ab5aa86432.jpg"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">JAVA面试八股文</h5>
                                <p class="card-text">总结了Java基础、框架、微服务以及算法的面试题</p>
                                <span class="badge bg-secondary">语言:java</span>
                            </div>
                        </a></div>
                </div>
                <div class="col animate__animated animate__flipInY">
                    <div class="card"><a
                            href="https://blog.csdn.net/lagouedu_/article/details/118413721?spm=1001.2014.3001.5502"><img
                                src="http://hhhsl.oss-cn-beijing.aliyuncs.com/recommend/9ad9ca3f-c9b8-4fef-a67d-26afa450b279.png"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Java程序员必读书籍免费分享</h5>
                                <p class="card-text">想要学好一门技术，首先一手资源是官网文档，其次是一些大神的书籍</p><span
                                    class="badge bg-secondary">语言:java</span>
                            </div>
                        </a></div>
                </div>
                <div class="col animate__animated animate__flipInY">
                    <div class="card"><a href="https://blog.csdn.net/zhiguigu/article/details/118370025"><img
                                src="http://hhhsl.oss-cn-beijing.aliyuncs.com/recommend/af0576ff-ed66-4f02-a6cd-b7c837e18789.png"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">微信聊天机器人</h5>
                                <p class="card-text">16行代码实现微信聊天机器人，自动智能回复，打团了让它来陪女朋友聊天！</p><span
                                    class="badge bg-secondary">语言:java</span>
                            </div>
                        </a></div>
                </div>
                <div class="col animate__animated animate__flipInY">
                    <div class="card"><a href="https://github.com/freefq/free"><img
                                src="http://hhhsl.oss-cn-beijing.aliyuncs.com/recommend/704ffc90-b364-4ecd-9956-93afd880c31d.png"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">梯子</h5>
                                <p class="card-text">免费科学上网、免费节点、请勿用于非法用途</p><span
                                    class="badge bg-secondary">语言:java</span>
                            </div>
                        </a></div>
                </div>
                <div class="col animate__animated animate__flipInY">
                    <div class="card"><a href="http://notfound9.github.io/interviewGuide/#/"><img
                                src="http://hhhsl.oss-cn-beijing.aliyuncs.com/recommend/eb65efc4-2b00-4685-95c0-881699eec785.png"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">《大厂面试指北》</h5>
                                <p class="card-text">
                                    《大厂面试指北》——包括Java基础、JVM、数据库、mysql、redis……</p><span
                                    class="badge bg-secondary">语言:面试</span>
                            </div>
                        </a></div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="paging mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        
    </div>
    <script src="/js/tool/footr.js"></script>
</body>

</html>